body{
    font-size: 80%;
    font-family: "Courier New" ,Courier, monospace;
    letter-spacing: 0.15em;
    background-color: white;
}
#page{
    max-width: 100%;
    min-width: 680px;
    margin: 10px ;
    padding: 30px;
    border: 5px double #000;
    background-color: rgb(226, 230, 224);
}
#logo{
    width: 150px;
    margin: 5px auto;
}
#ul{
    width: 600px;
    padding: 10px;
    margin: 15px auto;
    border-top: 2px solid black;
    border-bottom: 2px dashed black;
    text-align: center;
}
li{
    display: inline;
    margin: 0 4px;
}
p{
    text-align: center;
    width: 600px;
    margin: 20px auto;
    font-weight: normal;
}
a{
    color: green;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}
a:hover,a.on{
    color: #cc3333;
    background-color: #ffffff;
}


